@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KyoboHandwriting2021sjy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.cart-table{
    width:100%;
    padding:25px;
    background-color: rgb(141, 144, 145);
}
.tb-bg{
    background-color: rgb(255, 255, 255);
    max-width:100%;
    max-width:70%;
    margin: auto;
    border-radius: 15px;
}

td,th{
    font-family: 'KyoboHandwriting2021sjy';
}

.cart-table td {
    padding:15px;
    /* 테이블의 가로선만 주고싶다 border-bottom */
}


table{
    border-collapse: collapse;
    /* 셀간의 간격을 없앤다 */
}

.btn{
    padding:15px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color:aliceblue;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(195, 195, 195);
    /* pseudo-class 마우스올릴때 스타일 변경 */
}

.btn:focus{
    background-color: rgb(255, 255, 255);
    /* 커서가 찍혀있을때 스타일 */
}

.btn:active{
    background-color: rgb(100, 100, 100);
    border: 2px solid black;
    /* 누르고있는중 */
    /* hover focus active 순으로 해야 동작한다. 인풋이나 a링크에도 많이쓴다.  */
}

